.nav-link::before{
    content: '';
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    background-color:white;
    transition: width 0.5s;
    
}

.nav-link{

    position: relative;
}


.nav-link:hover::before{
    width: 80%;
}


.header-content{

background-image:linear-gradient(rgba(0, 0, 0, 0.867),rgba(128, 128, 128, 0.045)),

url(images/hero-bg.jpg) ;
background-size: cover;
background-position: center;
}

h2::after{

    content: '|';
    animation: typing 4s  infinite ;
}
@keyframes typing{
    0%{content: '|';}
    3%{content: 'D|';}
    5%{content: 'De|';}
    7%{content: 'Dev|';}
    10%{content: 'Deve|';}
    12%{content: 'Deveo|';}
    14%{content: 'Deveol|';}
    16%{content: 'Deveolp|';}
    18%{content: 'Deveolpe|';}
    20%{content: 'Deveolper|';}
    22%{content: '|Develope';}
    24%{content: '|Develo';}
    26%{content: '|Devel';}
    28%{content: 'Deve|';}
    30%{content: 'De|';}
    32%{content: 'D|';}
    34%{content: '|';}
    36%{content: 'De|';}
    38%{content: 'Des|';}
    40%{content: 'Desi|';}
    42%{content: 'Desig|';}
    44%{content: 'Design|';}
    46%{content: 'Designe|';}
    48%{content: 'Designer|';}
    50%{content: 'Designe|';}
    52%{content: '|Design';}
    54%{content: '|Desig';}
    56%{content: '|Desi';}
    58%{content: 'Des|';}
    60%{content: 'De|';}
    62%{content: 'D|';}
    64%{content: '|';}
    66%{content: '|';}
    68%{content: 'p|';}
    70%{content: 'ph|';}
    72%{content: 'pho|';}
    74%{content: 'phot|';}
    76%{content: 'photo|';}
    78%{content: 'photog|';}
    80%{content: 'photogr|';}
    82%{content: 'photogra|';}
    84%{content: 'photograp|';}
    86%{content: 'photograph|';}
    88%{content: 'photographe';}
    90%{content: 'photographer|';}
    92%{content: 'photographe|';}
    94%{content: 'photograph|';}
    96%{content: 'photograp|';}
    98%{content: 'photogra|';}
    100%{content: 'photogr|';}
    102%{content: 'photog|';}
    104%{content: 'photo|';}
    106%{content: 'phot|';}
    108%{content: 'pho|';}
    110%{content: 'ph|';}
    112%{content: 'p|';}
    
    





























}
h3.aft-bottom{
    position: relative;
}

 h3.aft-bottom::before{
    content: "";
    position: absolute;
    width: 15%;
    left: 1%;
    
    background-color: #09c;
    bottom: -40%;
    height: 3px;

}

.box-shadow{
    
    box-shadow: 0px 5px 10px rgba(1, 1, 1 ,15%);

}


.servivecs::after{
    position: absolute;
}

 p.con::after{

    content: "";
    position: absolute;
    width: 2%;
    left: 50%;

    
    background-color: #09c;
    bottom: -113%;
  
    height: 2px;

    
}

.icon{
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    
    border-radius: 50%;
    border: #09c 8px solid;
    color:black;

    transition:all 0.5s;
}





.icon:hover{

    background-color: #09c;
    border-color: lightblue;
    color: white;
    
}


 .bg-background{

    
    
    
    background-image:linear-gradient(rgba(32, 98, 120, 0.852),rgba(0, 153, 204, 0.748)),
     url(images/counters-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
 }

 .icon-counter{

    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    border-radius: 50%;
    border: lightblue 8px solid;


 }

img{
    transition: transform .5s;
}

 .card:hover img{
    transform: scale(1.5);
 }

 .card-image{
    overflow: hidden;
 }

 .pluse{

    width: 2rem;
    height: 2rem;
 
    
    border-radius: 50%;
  
    border: 3px #09c solid;
 }


 .image{
    width:100px ;
 }

 


 
 .feed-backs{

    background-image: linear-gradient(rgba(91, 198, 234, 0.541),rgba(34, 122, 152, 0.755)),
    url(images/overlay-bg.jpg);
 }


 

 .carousel-indicators  [ data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
 
    
 }

 

 .card:hover img{

    transform: none;
 }


 .blog .test{
    width: 100px;
    height: 40px;
    position: absolute;
    left: 40%;
   top: 52%;
  
    
    background-color: #09c;
 }